<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chris.memegenerator">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MemeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.main.SplashScreen"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".category.MemeInterestActivity"
            android:launchMode="singleInstance"/>
        <activity android:name=".view.main.MemeHomeActivity"
            android:launchMode="singleInstance"/>
        <activity android:name=".view.main.MainActivity"
            android:launchMode="singleInstance"></activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".view.createMeme.CreateMemeActivity"
            android:launchMode="singleInstance"/>
        <activity android:name=".LoginActivity"
            android:launchMode="singleInstance"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1779381205696405"
            android:exported="true" />

        <activity android:name=".view.FavoriteMemesActivity"
            android:launchMode="singleInstance"/>
        <activity android:name=".view.Main2Activity"></activity>

        <provider
            android:name=".util.GenericFileProvider"
            android:authorities="com.example.chris.memegenerator.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>